.form__container {
  display: flex;
  flex-wrap: wrap;
}
.mat-form-field {
  flex: 0 31% !important;
  margin: 0 5px;
}

mat-grid-tile {
  border-radius: 6px;
}

.bg-tale {
  background-color: #008080;
}
.bg-pink {
  background-color: #FFC0CB;
}
.bg-blue {
  background-color: #87CEFA;
}
.bg-violet {
  background-color: #EE82EE;
}
.bg-green {
  background-color: #90EE90;
}
.bg-orange{
  background-color: #FFA500;
}


.gradient-red {
  background: #D50000!important;
  background: linear-gradient(50deg,#FF9E80,#D50000)!important;
  color: #fff!important;
}
.gradient-green {
  background: #2E7D32!important;
  background: linear-gradient(50deg,#C5D429,#2E7D32)!important;
  color: #fff!important;
}
.gradient-gray {
  background: #263238!important;
  background: linear-gradient(50deg,#8EF9FE,#263238)!important;
  color: #fff!important;
}
.gradient-brown {
  background: #5D4037!important;
  background: linear-gradient(50deg,#FA9151,#5D4037)!important;
  color: #fff!important;
}
.gradient-indigo {
  background: #303f9f!important;
  background: linear-gradient(50deg,#2ec6ff,#303f9f)!important;
  color: #fff!important;
}
.gradient-pink {
  background: #E91E63!important;
  background: linear-gradient(50deg,#F59E99,#E91E63)!important;
  color: #fff!important;
}
.gradient-amber {
  background: #e65100!important;
  background: linear-gradient(50deg,#FFBA3A,#e65100)!important;
  color: #fff!important;
}
