<div class="pcm-content centralize">
  <mat-card>
    <mat-card>
      <h3>Endpoint Flow</h3>
      <form [formGroup]="buildFlow" class="partner-form">
        <ng-container *ngFor="let field of formFields">
          <div class="field-container" [ngSwitch]="field.inputType">
            <div *ngSwitchCase="'pcm-select'">
              <mat-form-field *ngIf="!!searchFilterCtrl[field.formControlName]">
                <mat-select [disabled]="appPrflFound" formControlName="{{field.formControlName}}"  placeholder="{{ field.placeholder }}" >
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="search" [formControl]="searchFilterCtrl[field.formControlName]" [noEntriesFoundLabel]="'no data found'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let option of getSearchFilterOptions(field.options, field.formControlName)" [value]="option.value">{{option.label}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="!searchFilterCtrl[field.formControlName]">
                <mat-select [disabled]="appPrflFound" formControlName="{{field.formControlName}}"  placeholder="{{ field.placeholder }}">
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="search" [noEntriesFoundLabel]="'no data found'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let option of field.options" [value]="option.value">{{option.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </ng-container>
        <div>
          <button  type="button"  *ngIf="!appPrflFound"  class="btn btn-primary"
                   (click)="searchForApp()"
                   [disabled]="buildFlow.invalid">SEARCH FLOW</button>

        </div>
      </form>
      <div *ngIf="noAppPrfl" class="build-action">
        <button type="button"  class="btn btn-pcm-1" (click)="setUPWorkFlow()" [disabled]="disableSetWF">
          SETUP FLOW
        </button>
        <button type="button" class="btn btn-info" (click)="reset()">
          RESET SEARCH
        </button>
      </div>

      <div *ngIf="appPrflFound" class="build-action">
        <button type="button" class="btn btn-danger" (click)="deleteWF()">
          DELETE FLOW
        </button>
        <button type="button" class="btn btn-info" (click)="reset()">
          RESET SEARCH
        </button>
      </div>
    </mat-card>
    <div *ngIf="openWorkFlow">
      <div style="margin-top: 24px;">
        <h3>Processing Rule Details</h3>
      </div>
      <mat-card class="mt-4">
        <mat-tab-group>
          <mat-tab label="Endpoint">
            <div class="data-flow-body">
              <div class="tool-bar">
              </div>
              <div>
                <ng2-smart-table [source]="data"
                                 [settings]="settingsEndpoint"
                                 (deleteConfirm)="onDeleteConfirm($event)"
                                 (editConfirm)="onSaveConfirm($event)"
                                 (createConfirm)="onCreateConfirm($event)"
                                 (custom)="rules($event)"
                ></ng2-smart-table>
              </div>
            </div>
          </mat-tab>
<!--          <mat-tab label="Activity" disabled></mat-tab>-->
        </mat-tab-group>
        <div class="build-action">
          <button type="button" class="btn btn-primary" (click)="saveWorkFlow()">
            SAVE
          </button>
          <button type="button" class="btn btn-info">
            CANCEL
          </button>
        </div>
      </mat-card>
    </div>
  </mat-card>
</div>
