<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title th:text="#{email.activation.title(${appName})}">Your Community Manager Portal Account - Activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.firstName})}">
            Dear
        </p>
        <p th:text="#{email.activation.text1(${appName})}">
            Your Community Manager Portal account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <a th:with="url=${baseUrl}+'/activate/account?key='+${user.activationKey}" th:href="@{${url}}"
            th:text="${url}">Activation link</a>
        </p>
        <p th:text="#{email.activation.nottoreply(${contactMail})}">
            *Please note: this e-mail was sent from an address that cannot accept incoming e-mail. Please use the email todo@pragmaedge.com to contact us with any questions on the Portal.
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature(${signature})}">Administrator.</em>
        </p>
    </body>
</html>
