<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title th:text="#{email.password.title(${appName})}">Your Community Manager Portal Account - Password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.password.greeting(${user.firstName})}">
            Dear
        </p>
        <p th:text="#{email.password.text1(${appName})}">
            Your Community Manager Portal account has been created and activated
        </p>
        <p th:text="#{email.password.text2(${user.userid})}">
            User Name : {0}
        </p>
        <p th:text="#{email.password.text3(${user.password})}">
            Password : {0}
        </p>
        <p th:text="#{email.password.nottoreply(${contactMail})}">
            *Please note: this e-mail was sent from an address that cannot accept incoming e-mail. Please use the email todo@pragmaedge.com to contact us with any questions on the Portal.
        </p>
        <p>
            <span th:text="#{email.password.text4}">Regards, </span>
            <br/>
            <em th:text="#{email.signature(${signature})}">Administrator.</em>
        </p>
    </body>
</html>
